/*Menu desplegable*/
.menu {
	width: 100%;
	color: #FFF;
	margin: 0;
	padding: 0;
}
.menu a {
	text-decoration: none;
	color: #FFF;
}
.nave{
	width: 100%;
	margin: 0px auto;
	background-color: rgba(0, 0, 0, 0.86);
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
.nave ul {
	list-style: none;
}
.menu > li {
	position: relative;
	display: inline-block;
	list-style: none;
}
.menu > li > a {
	display: block;
	padding: 5px 58.76px;
}
.menu li a:hover{
	border-radius: 8px; 
	background-color: rgb(119, 0, 34);
	transition: all 0.3s;
}
/*Submenu*/
ul.submenu1{
	padding: 0px;
}
ul.menu {
	padding: 0px;
}
.submenu1 {
	list-style: none;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.86);
	display: none;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}
.submenu1 li a {
	list-style: none;
	display: block;
	padding: 6px 30px;
	color: #FFF;
}
.menu li:hover .submenu1 {
	display: block;
}
.submenu1 {
	border-radius: 8px;
}
/* @media */
@media screen and (max-width: 1400px){
		.menu > li > a {
			padding: 5px 58.55px;
		}
}
@media screen and (max-width: 1365px){
	.menu > li > a{
		padding: 5px 58px;
	}
}
@media screen and (max-width: 1350px){
	.menu > li > a {
		padding: 5px 50px;
	}
}
@media screen and (max-width: 1300px){
	.menu li a{
		width: 150px;
		padding: 5px;

	}
}
@media screen and (max-width: 1200px){
	.menu li a{
		width: 140px;
		padding: 5px;

	}
}
@media screen and (max-width: 1100px){
	.menu li a{
		width: 125px;
		padding: 5px;

	}
}
@media screen and (max-width: 1000px){
	.menu li a{
		width: 110px;
		padding: 5px;

	}
}
@media screen and (max-width: 900px){
	*{
		box-sizing: border-box;
	}
	.menu li{
		width: 240px
		padding: 10px;
		border-width: 1px;
		display: inline;
	}
	.menu li:hover ul{
		display: block;
		position: absolute;
		left: 240px;
		z-index: 999;
		top:0px;
	}
	.menu li a {
		width: 240px;
		padding: 10px;
		margin: 0px;
	}
}
