<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Consultar Producto</title>
	<link rel="stylesheet" type="text/css" href="../estilos/cuerpoypie.css">
	<link rel="stylesheet" type="text/css" href="../estilos/menu_nav.css">
	<link rel="stylesheet" type="text/css" href="../estilos/InicioVarios.css">
	<link rel="stylesheet" type="text/css" href="../estilos/registrar_usuarios.css">
</head>
<body>
	<header style="position: relative; z-index: 999;">
		<div class="encabezado">
		<a href="../Inicio.php"><img src="../estilos/imagenes/encabezado.png" height="70px" width="100%" class="encabeza"></a>
		</div>
		<div>
			<nav class="nave">
				<ul class="menu">
					<li><a href="#">Empleado</a>
						<ul class="submenu1">
							<li><a href="registrar.php">Registrar Empleado</a></li>
							<li><a href="ConsultarEFor.php">Consultar Empleado</a></li>
							<li><a href="ModificarE.php">Modificar Empleado</a></li>
							<li><a href="InactivarEFor.php">Inactivar Empleado</a></li>
						</ul>
					</li>
					<li><a href="#">Compra</a>
						<ul class="submenu1">
							<li><a href="../Compra/RegistrarC.html">Registrar Compra</a></li>
							<li><a href="../Compra/ConsultarC.html">Consultar Compra</a></li>
						</ul>
					</li>
					<li><a href="#">Producto</a>
						<ul class="submenu1">
							<li><a href="RegistrarP.html">Registrar Producto</a></li>
							<li><a href="ConsultarP.html">Consultar Producto</a></li>
							<li><a href="ModificarP.html">Modificar Producto</a></li>
							<li><a href="InactivarP.html">Inactivar Producto</a></li>
							<li><a href="ReporteEP.html">Reporte Existencia Producto</a></li>
						</ul>
					</li>
					<li><a href="#">Venta</a>
						<ul class="submenu1">
							<li><a href="../venta/RegistrarV.html">Registrar Venta</a></li>
							<li><a href="../venta/ConsultarV.html">Consultar Ventas</a></li>
							<li><a href="../venta/AnularFV.html">Anular Factura Venta</a></li>
							<li><a href="../venta/ReporteV.html">Reporte Ventas</a></li>
						</ul>
					</li>
					<li><a href="#">Cliente</a>
						<ul class="submenu1">
							<li><a href="../Clientes/RegistrarC.html">Registrar Cliente</a></li>
							<li><a href="../Clientes/ConsultarC.html">Consultar Cliente</a></li>
							<li><a href="../Clientes/ModificarC.html">Modificar Cliente</a></li>
							<li><a href="../Clientes/InactivarC.html">Inactivar Cliente</a></li>
						</ul>
					</li>
					<li><a href="../Login.php">Cerrar Sesión</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<div class="cuerpo">
		<form method="get" action="ConsultarPFor.html">
			<label for="idProdcto">Digite el id del producto</label>
			<input type="search" name="idProdcto">
		</form>
		<form action="../Inicio.html">
			<table>
				<tr>
					<td><label for="idProductio">Id del producto:</label>
						<input type="num" name="idProductio">
					</td>
				</tr>
				<tr>
					<td><label for="descripcionProducto">Nombre del Producto:</label>
						<input type="text" name="descripcionProducto">
					</td>
					<td><label for="stockProducto">Numero de unidades del producto:</label>
						<input type="num" name="stockProducto">
					</td>
				</tr>
				<tr>
					<td><label for="precioProducto">Precio del Producto:</label>
						<input type="num" name="precioProducto">
					</td>
					<td><label for="tipoIvaFk">Tipo de iva:</label>
						<select>
							<option>Tipo 1</option>
							<option>Tipo 2</option>
							<option>Tipo 3</option>
						</select>
					</td>
				</tr>
				<tr>
					<td><label for="estadoProducto">Estado del producto:</label>
						<select>
							<option selected>Activo</option>
							<option>Inactivo</option>
						</select>
					</td>
					<td><input type="submit" name="Consultar Producto" value="Aceptar">
				</tr>
			</table>
		</form>
	</div>
	<br>
	<footer>
		<div class="pie">
			<p>Diseñado por: <a href="mailto:dpulido59@gmail.com"> Daniel Esteban Monsalve Pulido</a> y <a href="mailto:camiloacasallas@gmail.com">Camilo Andres Casallas Gomez.</a></p>
			<p><a href="http://www.freepik.com">Fondo Diseñado por Freepik</a><p>
		</div>
	</footer>
</body>
</html>